<ngx-spinner [fullScreen]="true" type="square-jelly-box" size="medium">
  <p class="loading">Loading data...</p>
</ngx-spinner>
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" rel="stylesheet" id="bootstrap-css">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<app-navbar></app-navbar>

<div class="container">
  <article class="card">
      <header class="card-header"> {{'label.MyOrders_Tracking' | translate}} </header>
      <ng-container *ngFor="let item of trackingData; let i=index">
        <div class="card-body">
            <h6>{{'label.OrderID' | translate}}: {{item.orderID}}</h6>
            <!-- <div class="track">
                <div class="step"> <span class="icon"> <i class="fa fa-check"></i> </span> <span class="text">{{'label.Order_confirmed' | translate}}</span> </div>
                <div class="step"> <span class="icon"> <i class="fa fa-user"></i> </span> <span class="text"> {{'label.Picked_by_courier' | translate}}</span> </div>
                <div class="step"> <span class="icon"> <i class="fa fa-truck"></i> </span> <span class="text"> {{'label.On_the_way' | translate}} </span> </div>
                <div class="step"> <span class="icon"> <i class="fa fa-box"></i> </span> <span class="text">{{'label.Ready_for_pickup' | translate}}</span> </div>
            </div> -->
            <hr>
            <ul class="row">
              <ng-container *ngFor="let item_product of item.list_product; let i=index">
                <li class="col-md-4">
                    <figure class="itemside mb-3">
                        <div class="aside">
                          <img 
                          [src]="imagePath(item_product.photoPath) "
                          class="img-sm border">
                        </div>
                        <figcaption class="info align-self-center">
                            <p class="title">{{item_product.productName}}</p> 
                            <span class="text-muted">${{item_product.price}} </span>
                        </figcaption>
                    </figure>
                </li>

              </ng-container>
              
            </ul>
            <hr>
        </div>
      </ng-container>
      
    <a href="#" class="btn btn-warning" data-abc="true"> <i class="fa fa-chevron-left"></i> {{'Back to Home' | translate}}</a>
  </article>
</div>
