<!-- <div class="container">
  <article class="card">
      <header class="card-header"> {{'label.MyOrders_Tracking' | translate}} </header>
      <ng-container *ngFor="let item of trackingData; let i=index">
        <div class="card-body">
            <h6>{{'label.OrderID' | translate}}: {{item.orderID}}</h6>
            <hr>
            <ul class="row">
              <ng-container *ngFor="let item_product of item.list_product; let i=index">
                <li class="col-md-4">
                    <figure class="itemside mb-3">
                        <div class="aside">
                          <img 
                          [src]="imagePath(item_product.photoPath) "
                          class="img-sm border">
                        </div>
                        <figcaption class="info align-self-center">
                            <p class="title">{{item_product.productName}}</p> 
                            <span class="title">{{'label.qty' | translate}}: {{item_product.qty}} </span>
                            <span class="text-muted">${{item_product.price}} </span>
                        </figcaption>
                    </figure>
                </li>

              </ng-container>
              
            </ul>
            <hr>
        </div>
      </ng-container>
      
    <a style="cursor: pointer;" (click)="Back()" class="btn btn-warning" data-abc="true"> <i class="fa fa-chevron-left"></i> {{'Back' | translate}}</a>
  </article>
</div> -->

<ngx-spinner [fullScreen]="false" type="square-jelly-box" size="medium">
  <p class="loading">Loading data...</p>
</ngx-spinner>
<!-- tracking map -->
<section class="checkout-page section-padding bg-light-theme">
  <div class="container">
    <div class="row">
      <div class="col-3">
        <button (click)="Back()" class="btn btn-success full-width">
          <i class="fa fa-chevron-left" aria-hidden="true"></i>
          {{'Back' | translate}}
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <!-- recipt -->
        <div class="recipt-sec padding-20">
          <div class="u-line mb-xl-20">
            <div class="row">
              <div class="col-lg-12">
                <h5 class="text-light-black fw-600 title">{{'Order Table' | translate}}: {{trackingData?.order_table}}
                  <span>
                    <a href="javascript:void(0)" class="fs-12">{{'Print recipt' | translate}}</a></span></h5>
                <p class="title text-light-white">{{trackingData?.order_date | date:'MMM d, y, h:mm a'}} <span class="text-light-black">Order #{{trackingData?.orderID}}</span>
                </p>
              </div>
              <div class="col-lg-12">
                <ng-container *ngFor="let item_product of trackingData?.list_product; let i=index">
                  <div class="checkout-product">
                    <div class="img-name-value">
                      <div class="product-img">
                        <a href="javascript:void(0)">
                        <img [src]="imagePath(item_product.photoPath)" style="width: 100px;height: 100px;" alt="#">
                        </a>
                      </div>
                      <div class="product-value"> <span class="text-light-white">{{item_product.qty}}</span>
                      </div>
                      <div class="product-name"> <span><a href="javascript:void(0)" class="text-light-white">{{item_product.productName}}</a></span>
                      </div>
                    </div>
                    <div class="price"> <span class="text-light-white">${{item_product.price}}</span>
                    </div>
                  </div>
                </ng-container>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-7">
              <div class="payment-method mb-md-40">
                <h5 class="text-light-black fw-600">{{'Payment Method' | translate}}</h5>
                <div class="method-type"> <i class="far fa-credit-card text-dark-white"></i>
                  <span class="text-light-white">{{trackingData?.pay_Method}}</span>
                </div>
              </div>
            </div>
            <div class="col-lg-5">
              <div class="price-table u-line">
                <div class="item"> <span class="text-light-white">{{'Item subtotal' | translate}}:</span>
                  <span class="text-light-white">${{trackingData?.product_total_price}}</span>
                </div>
               
              </div>
              <div class="total-price padding-tb-10">
                <h5 class="title text-light-black fw-700">{{'Total' | translate}}: <span>${{trackingData?.product_total_price}}</span></h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

